<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.txt">

  <targets>
    <!-- API request/response log -->
    <target xsi:type="File"
            name="api"
            fileName="${basedir}/logs/${shortdate}-api.txt"
            archiveAboveSize="5242880"
            archiveNumbering="Sequence"
            maxArchiveDays="15"
            layout="${longdate} [${uppercase:${level}}] [TraceId:${aspnet-TraceIdentifier}] ${message}" />

    <!-- SQL log -->
    <target xsi:type="File"
            name="sql"
            fileName="${basedir}/logs/${shortdate}-sql.txt"
            archiveAboveSize="5242880"
            archiveNumbering="Sequence"
            maxArchiveDays="15"
            layout="${longdate} [${uppercase:${level}}] ${message}" />
  </targets>

  <rules>
    <!-- API middleware logger -->
    <logger name="Jex.WebAPI.Middleware.ApiLoggingMiddleware" minlevel="Info" writeTo="api" final="true" />

    <!-- FreeSQL SQL logger -->
    <logger name="FreeSql" minlevel="Debug" writeTo="sql" final="true" />
  </rules>

</nlog>
